.rs-icon {
  filter: grayscale(1);
  opacity: 0.75;
}

.rs-icon.active {
  filter: grayscale(0);
}

.rs-icon:hover {
  opacity: 1;
}

.rs-meta {
  color: #70757a;
}

body[data-dt='1'] .rs-meta {
  color: #9aa0a6;
}
